{% extends "start_page.html" %}

{% block content %}
<h2>Авторизация</h2>
{% if user.is_authenticated %}
<h3>Вы выполнили вход ранее.</h3>

{% else %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Войти">
</form>

{% endif %}

<div>
    <h2> Войти через соцсети:</h2>
    <a href="{% url 'social:begin' 'vk-oauth2' %}">ВК</a>
    <a href="{% url 'social:begin' 'mailru-oauth2' %}">MAIL.RU</a>
<!--    <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>-->
</div>

{% endblock %}