{% extends "start_page.html" %}

{% block content %}
<div class="item_card" style="width: 300px; height: 300px; margin: 20px; background: darkkhaki;">
    <img src="{{ post.image.url }}" alt="" style="width:300px; height:150px">
    <p style="margin: 15px;">{{ post.title }}</p>
    <p style="margin: 15px;">{{ post.description }}</p>
    <p style="margin: 15px;">Likes: {{ post.likes }}</p>
    <p style="margin: 15px;">Views: {{ post.views }}</p>
</div>

    {%  for comment in comments %}
        <p><h4>{{ comment.text }}</h4></p>
        <p>Пользователь: {{ comment.user }}</p>
        <p>{{ comment.date_created }}</p>
        <p>Like {{ comment.likes }} </p>
    {% endfor %}

    {%  if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button> Отправить</button>
        </form>
    {% else %}
        <p><h5>*Вы можете оставить свой комментарий, если авторизуетесь</h5></p>
    {%  endif %}
{% endblock %}