{% extends "start_page.html" %}
{% load static %}

{% block content %}
    <script type="text/javascript" src="{% static 'scripts.js' %}"></script>

    <div style="width: 300px; height: 300px; margin: 20px; background: darkkhaki;">
        <div style="width:300px; height:150px;">
            {% if post.image %}
            <img src="{{ post.image.url }}" style="width:300px; height:150px">
            {% endif %}
        </div>
        <p style="margin: 15px;">{{ post.title }}</p>
        <p style="margin: 15px;">{{ post.description }}</p>
        <form action="" method="POST" style="margin: 15px;">
            {% csrf_token %}
            <input type="submit" value="Likes" name="Likes"/> {{ post.likes }}
        </form>
        <p style="margin: 15px;">Views: {{ post.views }}</p>
    </div>
    <div style="margin: 20px;">
        {% if post_additional_images %}
            {% for additional_image in post_additional_images %}
                <img src="{{ additional_image.image.url }}" style="width:300px; height:150px">
            {% endfor %}
        {% endif %}
    </div>

<div style="margin: 20px;">
    {% for comment in comments %}
        <div style=" width: 300px; background: slategrey;">
            <p><h4>Комментарий: {{ comment.text }}</h4></p>
            <p>{{ comment.date_created }}</p>
        </div>
            <p><h5><a href="{% url 'main:answer_comment' comment.id %}">Ответить на комментарий </a></h5></p>
        {% for answer_comment in answer_comments %}
            {% if answer_comment.comment_id == comment.id %}
                <p><h4>Ответ: {{ answer_comment.text }}</h4></p>
                <p>{{ answer_comment.date_created }}</p>
            {% endif %}
        {% endfor %}

    {% endfor %}

        <form action="" method="post" name="comment_form" onsubmit="return validate_comment_form ( )">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Отправить</button>
        </form>

</div>

    {% if category_random_posts %}
    <p style="margin: 15px;">Похожие статьи:</p>
    {% for post in category_random_posts %}
    <div style="display: inline-block; justify-content: flex-start;">
        <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: black">
            <div class="item_card" style="width: 300px; height: 300px; margin: 20px; background: darkkhaki;">
                <div style="width:300px; height:150px;">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" style="width:300px; height:150px">
                    {% endif %}
                </div>
                <p style="margin: 15px;">{{ post.title }}</p>
                <p style="margin: 15px;">{{ post.briefdescription }}</p>
                <p style="margin: 15px;">Likes: {{ post.likes }}</p>
                <p style="margin: 15px;">Views: {{ post.views }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}