<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/start_page.css' %}">
</head>

<body>

<main>
    <div style="display: flex; justify-content:flex-start; background-color: grey">
        <a style="padding:15px; text-decoration: none; color:black">БЛОГ ITEC</a>

    </div>
    {% if user.is_authenticated %}
    <div style="padding-left: 1600px">
        <a  href="{% url 'account:profile' %}">{{ user.username }}<img style='width:50px; border-radius:30px'  src="{{ user.image.url }}" alt=""></a>
        <a href="{% url 'account:logout' %}">Выйти</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'account:login' %}">Войти</a>
        <a href="{% url 'account:register' %}">Регистрация</a>
    </div>
    {% endif %}

    <div style="display: flex; justify-content:flex-start; background-color: bisque">
        <a href="{% url 'main:start_page' %}" style="padding:15px; text-decoration: none; color:black">Главная</a>
        <a href="{% url 'main:popular_posts' %}" style="padding:15px; text-decoration: none; color:black">Популярное</a>
        {% for category in categories %}
        <a href="{% url 'main:category_post' category.id %}" style="padding:15px; text-decoration: none; color:black">{{ category.title }}</a>
        {% endfor %}
    </div>

    {% block content %}
    {% for post in posts %}
    <div style="display: inline-block; justify-content: flex-start;">
        <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: black">
            <div style="width: 300px; height: 300px; margin: 20px; background: darkkhaki;">
                <div style="width:300px; height:150px;">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="" style="width:300px; height:150px">
                    {% endif %}
                </div>
                <p style="margin: 15px;">{{ post.title }}</p>
                <p style="margin: 15px;">{{ post.briefdescription }}</p>
                <p style="margin: 15px;">Likes: {{ post.likes }}</p>
                <p style="margin: 15px;">Views: {{ post.views }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    <div>
        <form style="background-color: grey" action="" method="POST">
            {% csrf_token %}
            <h3>Хочу получать уведомления о новых постах ITEC</h3>
            {{ form.as_p }}
            <button>Отправить</button>
        </form>
        <div>
            {{ message }}
        </div>
    </div>
    {% endblock %}
</main>

</body>
</html>