<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'css/start_page.css' %}">
</head>

<body>

<main>
    <div style="display: flex; justify-content:flex-start; background-color: grey">
        <a style="padding:15px; text-decoration: none; color:black">БЛОГ ITEC</a>

    </div>
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'account:profile' %}">Профиль</a>
        <a href="{% url 'account:logout' %}">Выйти</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'account:login' %}">Войти</a>
        <a href="{% url 'account:register' %}">Регистрация</a>
    </div>
    {% endif %}

    <div style="display: flex; justify-content:flex-start; background-color: bisque">
        <a href="{% url 'main:start_page' %}" style="padding:15px; text-decoration: none; color:black">Главная</a>
        {% for category in categories %}
        <a href="{% url 'main:category_post' category.id %}" style="padding:15px; text-decoration: none; color:black">{{ category.title }}</a>
        {% endfor %}
    </div>

    {% block content %}
    <div style="display: flex; justify-content: flex-start">
        {% for post in posts %}
        <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: black">
            <div class="item_card" style="width: 300px; height: 300px; margin: 20px; background: darkkhaki;">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="" style="width:300px; height:150px">
                {% endif %}
                <p style="margin: 15px;">{{ post.title }}</p>
                <p style="margin: 15px;">{{ post.briefdescription }}</p>
                <p style="margin: 15px;">Likes: {{ post.likes }}</p>
                <p style="margin: 15px;">Views: {{ post.views }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div>
        <form  style="background-color: grey" action="" method="POST">
            {% csrf_token %}
            <h3>Хочу получать уведомления о новых постах ITEC</h3>
            {{ form.as_p }}
            <button>Отправить</button>
        </form>
        <div>
            {{ message }}
        </div>
    </div>
    {% endblock %}
</main>

</body>
</html>